.idea
.vscode
.tox
.mypy_cache

chipiron/.idea
chipiron/.ipynb_checkpoints
__pycache__

build/*

data/syzygy-tables/
data/gui/*
data/datasets/*
data/players/board_evaluators/nn*
docs/_build/

stockfish/*
.coverage

mlruns/

chipiron/scripts/league/league_data/*
chipiron/scripts/*/outputs/*
chipiron/runs/*
*.egg-info/
chipiron/scripts/one_match/outputs/*
chipiron/scripts/learn_nn_supervised/learn_nn_supervised_outputs/*
chipiron/scripts/learn_from_scratch_value_and_fixed_boards/learn_from_scratch_outputs/*

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb