

# Install with: pip install -r requirements-dev.txt

# Automation
tox>=4.30.3
types-PyYAML==6.0.12.12

# Testing
pytest==8.4.2
coverage
pytest-cov==6.0.0

# Linting & formatting
flake8==7.3.0
black==25.9.0
isort==6.1.0

# Type checking
mypy==1.18.2

# Building & publishing
build
twine

# Documentation
sphinx
sphinx-rtd-theme
sphinx-autodoc-typehints
